<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :shot_date %><br />
    <%= f.text_field :shot_date, { :class => 'datepicker' } %>
  </div>
  <div class="field">
    <%= f.label :invoiced_on %><br />
    <%= f.text_field :invoiced_on , { :class => 'datepicker' } %>
  </div>
  <div class="field">
    <%= f.label :delivered %><br />
    <%= f.check_box :delivered %>
  </div>
  <div class="field">
    <%= f.label :payment_received %><br />
    <%= f.check_box :payment_received %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
