<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @job.name %>
</p>

<p>
  <b>Price:</b>
  <%= @job.price %>
</p>

<p>
  <b>Date Shot:</b>
  <%= @job.shot_date %>
</p>

<p>
  <b>Invoicedon:</b>
  <%= @job.invoiced_on %>
</p>

<p>
  <b>Delivered:</b>
  <%= @job.delivered %>
</p>

<p>
  <b>Payed?:</b>
  <%= @job.payment_received %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
