!!!
%html
  %head
    %title JobTracker
    = stylesheet_link_tag 'application'
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      #addMoreButton
      .inner
        = render :partial => 'shared/selector'
    = yield