!!!
%html
  %head
    %title JobTracker
    = stylesheet_link_tag 'application'
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #addMoreButton
      =link_to '+', new_job_path
    #header
      .inner
        = render :partial => 'shared/selector'
    = yield